:root{
    --brand-1:#4C6EF5;
    --brand-2:#364FC7;
    --gray-1:#191C1F;
    --gray-2:#212529;
    --gray-3:#343A40;
    --gray-4:#ADB5BD;
    --gray-5:#CED4DA;
    --gray-6:#EDF2FF;
    --gray-7:#F8F9FA;

    --title1: clamp(2rem, 0.135rem + 3.462vw, 3.25rem);
    --title2: clamp(1.75rem, 0.423rem + 2.308vw, 2.5rem);
    --title3: clamp(1.5rem, 0.615rem + 1.538vw, 2rem);
    
    --text1: clamp(1rem, 0.904rem + 0.385vw, 1.25rem);
    --text2: clamp(0.9rem, 0.952rem + 0.192vw, 1.125rem);
    --text3: clamp(0.8rem, 0.308rem + 0.769vw, 1rem);
    --text4: clamp(0.8rem, 0.308rem + 0.769vw, 1rem);
}